@import '../base/settings';


.header{
    background: $off-black;
    color: white;
    margin-bottom: $m-size;
    padding: $m-size 0;
}

.header__tittle{
    font-size: $l-size;
    margin: 0;
}

.header__subtittle{
    color: $off-white;
    font-size: $m-size;
    font-weight: 500;
    margin: 0;
}

@media(min-width : $desktop-breakpoint) {
    .header{
        margin-bottom: $xl-size;
    }
}